// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media only screen and (max-width: 575px) {
    .profile-picture {
        margin-top: -50px !important;
        border: 3px solid white !important;
        margin-left: 0 !important;
    }
    .container {
        border: none !important;
    }
    .post-image {
        max-height: 40vw !important;
    }
}

@media only screen and (max-width: 911px) {
    .image-detail-left {
        width: 100% !important;
    }

    .image-detail-right {
        display: none;
    }

    .sidebar-right {
        display: none;
    }

    main {
        width: 70vw !important;
        margin: 0 0 0 30vw !important;
    }

}

@media (min-width: 992px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 798px;
    }
}

body {
    overflow-x: hidden;
}

main {
    .profile {
        padding: 0 !important;
        border-left: 1px solid rgb(235, 238, 240);
        border-right: 1px solid rgb(235, 238, 240);
    }
}

.row {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

a {
    color: #1DA1F2 !important;
}

.button-primary {
    cursor: pointer;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 15px;
    color: white !important;
    border-radius: 9999px;
    padding: .5em 1em;
    transition-duration: 0.2s;
    background-color: rgb(29, 161, 242);
}

.button-primary:hover {
    background-color: rgb(29, 129, 194);
}

.button-secondary {
    cursor: pointer;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #1DA1F2;
    border-radius: 9999px;
    padding: .5em 1em;
    transition-duration: 0.2s;
}

.button-secondary:hover {
    background-color: rgb(29, 161, 242, 0.2);
}

.button-nav {
    cursor: pointer;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 19px;
    color: black !important;
    border-radius: 9999px;
    padding: .5em 1em;
    transition-duration: 0.2s;
}

.button-nav:hover {
    background-color: rgb(29, 161, 242, 0.2);
}

.profile-button {
    position: absolute;
    right: 0;
}

.tor-button {
    position: fixed;
    right: 3vw;
    bottom: 3em;
    padding: 1em !important;
    animation: right-left-transition 0.75s;
}

button, button:focus, button:active {
    border: none;
    outline: none !important;
}

@keyframes right-left-transition {
    from {
        transform: translateX(6vw);
    }

    to {
        transform: translateX(0);
    }

 }

// NAVIGATION ICONS
.button-nav:hover .nav-icon, .button-nav:hover p{
    fill: #1DA1F2;
    color: #1DA1F2;
}

.button-nav.active p{
    color: #1DA1F2;
}

.button-nav.active svg {
    fill: #1DA1F2;
    stroke: #1DA1F2;
}
